        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= link_to t('Show_home'), book, class: 'btn btn-mini btn-primary' %></td>
        <td><%= link_to t('Edit'), edit_book_path(book), class: 'btn btn-default' %></td>
        <td><%= link_to t('Destroy'), book, method: :delete, data: { confirm: t('destroy_confirmation') }, class: 'btn btn-mini btn-danger' %></td>