<!-- Available Books-->
<div class="container-book bg-grey ">
<h1><%= t('Available_books') %></h1>
</div>

<%= render 'books' %>                                                                                                                                                                        

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= link_to t('Show_home'), book, class: 'btn btn-mini btn-primary' %></td>
        <td><%= link_to t('Edit'), edit_book_path(book), class: 'btn btn-default' %></td>
        <td><%= link_to t('Destroy'), book, method: :delete, data: { confirm: t('destroy_confirmation') }, class: 'btn btn-mini btn-danger' %></td>
        <td><%= link_to t('Reserve_it'), {controller: "books", action: "reserve_it", :ref_book => book.id} , :class => 'btn btn-mini btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>