<!-- About us-->

<div class="jumbotron text-center">
<h2><%= t('ABOUT_US') %></h2><br>
<p><%= t('Students') %></p>
<p><%= t('Love_Rails') %></p> 
</div>
<br>

<div class="container-fluid text-center">
	<div class="row">
	  <div class="col-sm-6">
	    <p class="text-center"><strong>Elisabeth</strong></p><br>
	    <a href="#demo" data-toggle="collapse">
	      <img src="/eli.jpg" class="img-circle person" alt="Random Name">
	    </a>
	    <div id="demo" class="collapse">
	      <p><%= t('Elisabeth1') %></p>
        <p><%= t('Elisabeth2') %></p>
	      <p><%= t('Elisabeth3') %></p>
	      <p><%= t('Elisabeth4') %></p>
	    </div>
	  </div>

	  <div class="col-sm-6">
	    <p class="text-center"><strong>Maxime</strong></p><br>
	    <a href="#demo2" data-toggle="collapse">
	      <img src="/maxime.jpg" class="img-circle person" alt="Random Name">
	    </a>
	    <div id="demo2" class="collapse">
	      <p><%= t('Maxime1') %></p>
	      <p><%= t('Maxime2') %></p>
	      <p><%= t('Maxime3') %></p>
	    </div>
	  </div>
	</div>
</div>

<!-- Contact -->
<div class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p><%= t('Contact24H') %></p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Ivry-Sur-Seine, FRANCE</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> rubyonrails654@gmail.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <td><%= link_to t('Send'), {controller: "books", action: "send_mail"} , :class => 'btn btn-default pull-right' %></td>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

 <!-- Google maps -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2627.3051708120993!2d2.3756389508128106!3d48.81423851166747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e673cccf5cb859%3A0x10ff8b28c767ad3f!2sESIEA+Paris-Ivry+-+Ecole+d&#39;ing%C3%A9nieurs+du+num%C3%A9rique!5e0!3m2!1sfr!2sfr!4v1449598042581" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>