<!-- Library Online -->
<div class="jumbotron text-center">
  <p><jhfjrzkgh></p>
  <h1><%= t('Site_title') %></h1> 
  <p><%= t('Our_speciality') %></p> 
</div>

<!-- About Library Online -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2><%= t('ABOUT_LIBRARY_ONLINE') %></h2><br>

      <h4><%= t('Future_Library') %> </h4><br>
      <p><%= t('Description_About') %> </p><br>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<!-- Our values-->
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2><%= t('Our_Values') %></h2><br>
      <h4><strong>MISSION:</strong><%= t('Our_Mission') %></h4><br>      
      <p><strong>VISION:</strong><%= t('Our_Vision') %></p>
    </div>
  </div>
</div>



<!-- What we offer -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4><%= t('What_we_offer') %></h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p><%= t('POWER') %></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p><%= t('LOVE') %></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p><%= t('JOB_DONE') %></p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p><%= t('GREEN') %></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p><%= t('CERTIFIED') %></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p><%= t('HARD_WORK') %></p>
    </div>
  </div>
</div>



<!-- What our customers says -->
<div class="container-fluid text-center bg-grey">
	 <h2><%= t('What_our_customers_say') %></h2>
	<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	    <h4><%= t('Notice1') %><br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
	    </div>
	    <div class="item">
	      <h4><%= t('Notice2') %><br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
	    </div>
	    <div class="item">
	      <h4>"<%= t('Notice3') %><br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
	    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>