<h1><%= @book.title %></h1>
<hr />

<p>
  <strong><%= t('author_show') %></strong>
  <%= @book.author %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>

<p>
  <strong><%= t('mark') %></strong>
  <%= @book.note %>
</p>

<p>
  <strong>Pages: </strong>
  <%= link_to t('See_pages') %>
</p>

<p>
  <strong><%= t('cover') %></strong>
</p>


<p>
<%= link_to t('Edit'), edit_book_path(@book) %> |
<%= link_to t('Back'), all_books_path %>
</p>

<hr />
<%= render 'comments' %>
<hr />

<h2><%= t('New_comment') %></h2>
<%= render 'comments/form' %>
</br>
