<!DOCTYPE html>
<html>
<body>
  <p><strong><%= @contact.name %></strong> you want to contact us. Your message was send to duong.elisabeth@gmail.com. We'll get back to you within 24 hours.</p>
  <br>

  <p>Name: <strong><%= @contact.name %></strong></p>
  <p>Email: <strong><%= @contact.email %></strong></p>
  <p>Comment: <strong><%= @contact.comment %></strong></p>
  <br>
  
  <p>Log in: <%= link_to 'library-online-duofer.herokuapp.com', 'library-online-duofer.herokuapp.com' %></p>
</body>
</html>