<!DOCTYPE html>
<html>
<body>
  <p><strong><%= @contact.name %> </strong><%= t('Want_contact') %></p>
  <br>

  <p>Name: <strong><%= @contact.name %></strong></p>
  <p>Email: <strong><%= @contact.email %></strong></p>
  <p>Comment: <strong><%= @contact.comment %></strong></p>
  <br>
  
  <p>Log in: <%= link_to 'library-online-duofer.herokuapp.com', 'library-online-duofer.herokuapp.com' %></p>
</body>
</html>