<div class="row">
	<nav class="span12">
		<div class="navbar">
			<div class="navbar navbar-inverse">
				<ul class="nav navbar-nav">
					<li class="divider-vertical"></li>

					<li><%= link_to t('Menu_title').html_safe, root_path %></li>
					<li><%= link_to t('Home').html_safe, root_path %></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('Books')%><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to t('All_Books_html').html_safe, all_books_path %></li>
							<li><%= link_to t('Available_html').html_safe, available_books_path %></li>
							<li><%= link_to t('Reserved_html').html_safe, reserved_books_path %></li>
							<li><%= link_to t('Add_html').html_safe, new_book_path %></li>
						</ul>
					</li>
					<li><%= link_to t('Contact_us'), contactUs_path %></li>
				</ul>
				<ul class="navbar-text pull-right">
					<% if user_signed_in? %>
					  <%= t('Logged_in_as') %><strong><%= current_user.email %></strong>.
					  <%= link_to t('Edit_profile'), edit_user_registration_path, :class => 'navbar-link' %> |
					  <%= link_to t("Log_Out"), destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
</div>

